body{
    margin: 0px 0px;
    
}
.head{
    background-color: antiquewhite;
    padding: 2rem;
    margin-top: 0px;
    margin-bottom: 1rem;
    text-align: center;
}
.mid{
text-align: center;
}
textarea {
    display: block;
    width: 90%;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
}
#btn-translate{
    margin: auto;
    background-color: black;
    color: white;
    padding:8px;
    border-radius: 1rem;

}
#btn-translate:hover{
    margin: auto;
    background-color: white;
    color: black;
    padding:8px;
    border-radius: 1rem;

}
.output {
    border: 1px solid black;
    height: 20vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;

}
.ft{
    margin-top: 3rem;
   background-color: antiquewhite; 
   padding:3rem;
  
   
}